# Mysql config file

# The MySQL server
[mysqld]
user = mysql
port = 3306
basedir = /usr/local/mysql
datadir = /data/mysql
socket	= /usr/local/mysql/var/run/mysql.sock
pid-file = /usr/local/mysql/var/run/mysqld.pid

#数据编码
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

#默认存贮引擎设置
default_storage_engine = InnoDB
innodb_file_per_table = 1
#默认值为128M,当MySql服务器配置较低时,可以将参数设小一点.
#innodb_buffer_pool_size = 64M

#binlog设置
#log-bin = mysql-bin
#binlog_format = mixed
#设置binlog日志清理时间,默认：604800秒(7天)
#binlog_expire_logs_seconds = 604800
#max_binlog_size = 100m
#binlog_cache_size = 4m
#max_binlog_cache_size = 512m

#MySql服务器ID,用于主从同步或集群管理
#server-id = 1

#查询缓存设置
query_cache_type = on
query_cache_strip_comments = on
query_cache_size = 64M
query_cache_limit = 2M

tmp_table_size = 256M
max_heap_table_size = 256M
table_open_cache = 512
open_files_limit = 8192

#慢日志设置
log_error = /data/logs/mysql/mysql-error.log
long_query_time = 2
slow_query_log = on
slow_query_log_file = /data/logs/mysql/mysql-slow.log

#连接设置
max_connections = 512
bind-address = 0.0.0.0
init_connect = 'SET NAMES utf8mb4'

[client]
default-character-set = utf8mb4
port = 3306
socket = /usr/local/mysql/var/run/mysql.sock

[mysqldump]
user=dump_user
password=c9c3a312089f628ede1bad7f960bcbe9
